.body {
    background-color: #66b2b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffc60a;
    font-size: 100rem; /* Increased font size */
    margin-bottom: 2rem;
    font-family: Georgia, serif; /* Changed font to Georgia */
    font-weight: bold; /* Set font weight to bold */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.prompt {
    margin-bottom: 1rem;
    text-align: center;
}

.button {
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffc60a;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.button.login {
    background-color: #66b2b2;
}

.button.signup {
    background-color: #66b2b2;
}

.button:hover {
    opacity: 0.9;
}
